<p id="notice"><%= notice %></p>

<h1>Listing Stylesheets</h1>

<table>
  <thead>
    <tr>
      <th>Products.css.scss</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stylesheets.each do |stylesheet| %>
      <tr>
        <td><%= stylesheet.products.css.scss %></td>
        <td><%= link_to 'Show', stylesheet %></td>
        <td><%= link_to 'Edit', edit_stylesheet_path(stylesheet) %></td>
        <td><%= link_to 'Destroy', stylesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stylesheet', new_stylesheet_path %>
